<?xml version = "1.0"?>

<launch>

<!--Run thestagesimulator-->
<node pkg = "stage_ros" name = "stageros" type = "stageros" output = "screen" args = "-d $(find movrob)/worlds/TP2-Ex2.world"></node>

<!--Run the controller node-->
<node pkg = "movrob" name = "scripts" type = "TP2-Ex2b.py" output = "screen" ></node>

</launch>
